# Set a white list
/*

# Temp files
*~
*.swp
*.swo
*~
\#*\#
.\#*

# Git
!/.gitignore
!/.gitconfig

# Bash
!/.bashrc
!/.bash_profile
!/.git-prompt.sh
!/.profile

# Screenshots
!/Images/
/Images/*
!/Images/Captures/

# Vim
!/.vimrc

# Emacs
!/.emacs
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/themes/
!/.emacs.d/functions/

# SSH
!/.ssh
/.ssh/*
!/.ssh/id_rsa.pub
